@font-face {
    font-family: 'Pricedown Bl';
    src: url(Pricedown\ Bl.otf);
}

@font-face {
    font-family: 'Chalet Tokyo';
    src: url('ChaletTokyo.otf');
}

body {
    color: black;
    font-family: 'Pricedown Bl', sans-serif;
    background-image: url(https://i.pinimg.com/1200x/ed/3c/55/ed3c55aa738d8229fe81179a6ec48359.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-attachment: fixed;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

#container{
    text-align: center;
    height: 400px;
    width: 800px;
    font-family: 'Chalet Tokyo', sans-serif;
}

h1{
    font-size: 50px;
    font-family: 'Pricedown Bl', sans-serif;

}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    background-color: #94D7DB;
    border-color: #8BBFCB;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #7AB8BC;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#resultado{
    font-size: 25px;
    font-family: 'Pricedown Bl', sans-serif;

}